.imagen-fondo{
   
        background-image: url('https://www.artic.edu/iiif/2/b0effb1c-ff23-bbaa-f809-9fd94e31c1a0/full/843,/0/default.jpg');
        background-position: center;
        background-size: cover;
        height: 60vh;
    
      
  
    
}