<div class="container text-center">
    <h1 class="text-muted">¡Hola!</h1>
    <p> Soy Noelia, y estoy encantada de presentarte nuestra API de Art Angular.</p>
    <p>Esta API te permite acceder a una variedad de datos relacionados con el arte, sin embargo, debes tener en cuenta
        que la velocidad de respuesta puede verse afectada debido a las llamadas de datos a fuentes externas.</p>
    <div class="imagen-fondo"></div>


    <p>Para obtener más información sobre cómo utilizar la API, consultar la documentación o resolver cualquier duda,
        puedes visitar el siguiente enlace:</p>


    <a class="btn btn-secondary" href="https://api.artic.edu/docs/" target="_blank">Documentación de la API</a>
</div>