<!-- inicio.component.html -->
<form (ngSubmit)="onSearch()" class="container mt-4">
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <label for="searchType" class="form-label w-100 text-center">Buscar por:</label>
            <select id="searchType" [(ngModel)]="searchType" name="searchType" class="form-select">
                <option value="title">Título</option>
                <option value="artist">Artista</option>
                <option value="category">Categoría</option>
            </select>
        </div>
        <div class="col-12 col-md-4">
            <label for="searchQuery" class="form-label w-100 text-center">Término de búsqueda:</label>
            <input id="searchQuery" type="text" [(ngModel)]="searchQuery" name="searchQuery"
                placeholder="Ingresa tu búsqueda" class="form-control" />
        </div>
        <div class="text-center col-12 col-md-4 d-flex flex-column justify-content-end">
            <button type="submit" class="btn btn-secondary w-100 "  >Buscar</button>
        </div>
    </div>

</form>

<!-- Mostrar resultados -->
<div *ngIf="obras && obras.length > 0" class="container mt-4">
    <h2 class="mb-4">Resultados de la búsqueda:</h2>
    <div class="row">
        <div class="col-12 col-md-4" *ngFor="let obra of obras">
            <div class="card mb-3">
                <img *ngIf="obra.imageUrl" [src]="obra.imageUrl" class="card-img-top" alt="{{ obra.title }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold fs-3" style="color: #34623F;">{{ obra.title }}</h5>
                    <!-- Información de la obra -->
                    <!-- <p class="card-text"><strong>Enlace a la obra:</strong> <a [href]="obra.api_link" class="text-deco" target="_blank">Ver detalles</a></p> -->
                    <p class="card-text"><strong>Descripción:</strong> {{ obra.thumbnail.alt_text }}</p>
                    <p class="card-text"><strong>ID:</strong> {{ obra.id }}</p>
                    <p class="card-text"><strong>Artista: </strong> {{ obra.artist_display | artistName }}</p>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Si no hay resultados -->
<div *ngIf="obras && obras.length === 0" class="container mt-4 text-center">
    <h4>No se encontraron resultados.</h4>
</div>
<!-- Mostrar obras como JSON en el HTML -->
<!-- <div *ngIf="obras">
    <h2>Datos de las obras (Dump):</h2>
    <pre>{{ obras | json }}</pre>
  </div> -->

<!-- Paginación -->
<div *ngIf="pagination" class="container mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item" [class.disabled]="pagination.current_page === 1">
                <a class="page-link" style="color: #34623F;" href="#"
                    (click)="onPageChange(pagination.current_page - 1)">Anterior</a>
            </li>
            <li class="page-item">
                <a class="page-link" style="color: #34623F;" href="#"
                    (click)="onPageChange(pagination.current_page + 1)">Siguiente</a>
            </li>
        </ul>
    </nav>
</div>