<!-- busqueda.component.html -->
<form (ngSubmit)="onSearch()" class="container mt-4">
    <div class="row mb-3">
      <div class="col-12 col-md-4">
        <label for="searchType" class="form-label w-100 text-center">Buscar por:</label>
        <select id="searchType" [(ngModel)]="searchType" name="searchType" class="form-select">
          <option value="title">Título</option>
          <option value="artist">Artista</option>
          <option value="category">Categoría</option>
        </select>
      </div>
      <div class="col-12 col-md-4">
        <label for="searchQuery" class="form-label w-100 text-center">Término de búsqueda:</label>
        <input id="searchQuery" type="text" [(ngModel)]="searchQuery" name="searchQuery"
          placeholder="Ingresa tu búsqueda" class="form-control" />
      </div>
      <div class="text-center col-12 col-md-4 d-flex flex-column justify-content-end">
        <button type="submit" class="btn btn-secondary w-100">Buscar</button>
      </div>
    </div>
  </form>
  
  <!-- Mostrar resultados -->
  <div *ngIf="isLoading" class="text-center mt-4">
    <i class="bi bi-hourglass-split fs-1 text-secondary"></i>
    <p>Cargando resultados...</p>
  </div>
  
  <div *ngIf="!isLoading && obras.length > 0" class="container mt-4">
    <h2 class="mb-4">Resultados de la búsqueda:</h2>
    <div class="row">
      <div class="col-12 col-md-4" *ngFor="let obra of obras">
        <div class="card mb-3">
          <div *ngIf="obra.imageUrl; else loadingIcon">
            <img [src]="obra.imageUrl" class="card-img-top" alt="{{ obra.title }}">
          </div>
          <ng-template #loadingIcon>
            <div class="text-center">
              <i class="bi bi-hourglass-split fs-1 text-secondary"></i>
            </div>
          </ng-template>
          <div class="card-body">
            <h5 class="card-title fw-bold fs-3 text-center" style="color: #34623F;">{{ obra.title }}</h5>
            <p class="card-text"><strong>Artista: </strong> {{ obra.artist_display }}</p>
            <p class="card-text"><strong>Fecha:</strong> {{ obra.date_display }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="!isLoading && obras.length === 0" class="container mt-4 text-center">
    <h4>No se encontraron resultados.</h4>
  </div>