<!-- Navbar -->
<nav class="navbar fondo-gris pt-4">
  <div class="container">
    <a class="nav-link pe-4 d-flex" routerLink="/inicio">
      <figure class="figure-img">
        <img class="img-fluid" src="logo.png" alt="Logo">
      </figure>
      <p class="ps-4 fs-3 align-content-center fw-bold" style="color: #34623F;">
        Art Angular
      </p>
    </a>
    <ul class="navbar-nav d-flex flex-row">
      <li class="nav-item">
        <a class="nav-link pe-5" routerLink="/inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pe-5" routerLink="/obras">Obras del día</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pe-5" routerLink="/acercade">Acerca de</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pe-5" routerLink="/busqueda">Búsqueda</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Contenido dinámico -->
<main class="py-4">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer class="text-white py-4 mt-auto" style="background-color: #34623F;">
  <div class="container text-center">
    <div class="row">

      <div class="col">
        <h3 class="fw-bold">What does this API do?</h3>
        <p>This API helps you search for artworks within the Art Institute of Chicago API.</p>
      </div>
    </div>
    <div class="mt-3 text-center">
      <p class="mb-0"><i>2025 API Angular on Art.&copy; All rights reserved.</i></p>
    </div>

  </div>
</footer>